.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.heading{
    text-align: center;
}
.btn{
    padding: 8px;
    border-radius: 7px;
    margin-left: 39rem;
    background-color: #1b63c8;
    color: #edfcff;
    border: none;
}
.btn:hover{
    cursor: pointer;
}